In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score, fbeta_score, r2_score, mean_squared_error

In [33]:
df = pd.read_excel("/Users/juank/Desktop/python/Ualet/Base_vinculados_Corregida.xlsx",sheet_name="Base", engine='openpyxl')
df

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Activos,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,Adiciones Totales,Retiros Totales,Adiciones Promedio,Retiros Promedio
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,340000000,40000000,0.0,8,6,2,600000.0,594209.73,100000.0,297104.865
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0,0.0,2,1,1,10000.0,10081.56,10000.0,10081.560
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,120000000,7000000,0.0,0,0,0,0.0,0.00,0.0,0.000
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,100000000,80000000,0.0,0,0,0,0.0,0.00,0.0,0.000
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0,0.0,6,5,1,417000.0,421576.20,83400.0,421576.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31729,2021-03-25,31850,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,2000-03-16,...,0,0,0.0,0,0,0,0.0,0.00,0.0,0.000
31730,2021-03-25,31851,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,1976-05-05,...,0,0,0.0,0,0,0,0.0,0.00,0.0,0.000
31731,2021-03-25,31852,Ualet puro,BRANDON,M,4,Planeador,0,Bajo,1955-03-20,...,0,0,0.0,0,0,0,0.0,0.00,0.0,0.000
31732,2021-03-25,31853,Ualet puro,SANTIAGO,M,4,Planeador,0,Bajo,1991-12-14,...,0,0,0.0,0,0,0,0.0,0.00,0.0,0.000
31733,2021-03-25,31854,Ualet puro,CARLOS,M,4,Planeador,0,Bajo,1995-08-25,...,0,0,0.0,0,0,0,0.0,0.00,0.0,0.000

In [39]:
df=df.rename(columns={'Adiciones Totales': "AdicionesTotales"})
df.shape

(31734, 30)

In [41]:
df1=df[df.AdicionesTotales >=500000]
df1.shape

(3584, 31)

In [40]:
df["j"]=np.where(df["AdicionesTotales"]>=500000,1,0)
df

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,AdicionesTotales,Retiros Totales,Adiciones Promedio,Retiros Promedio,j
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,40000000,0.0,8,6,2,600000.0,594209.73,100000.0,297104.865,1
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0.0,2,1,1,10000.0,10081.56,10000.0,10081.560,0
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,7000000,0.0,0,0,0,0.0,0.00,0.0,0.000,0
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,80000000,0.0,0,0,0,0.0,0.00,0.0,0.000,0
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0.0,6,5,1,417000.0,421576.20,83400.0,421576.200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31729,2021-03-25,31850,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,2000-03-16,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,0
31730,2021-03-25,31851,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,1976-05-05,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,0
31731,2021-03-25,31852,Ualet puro,BRANDON,M,4,Planeador,0,Bajo,1955-03-20,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,0
31732,2021-03-25,31853,Ualet puro,SANTIAGO,M,4,Planeador,0,Bajo,1991-12-14,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,0
31733,2021-03-25,31854,Ualet puro,CARLOS,M,4,Planeador,0,Bajo,1995-08-25,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,0

In [42]:
num_0 = len(df[df['j']==1])*2
df = pd.concat([ df[df['j']==0] , df[df['j']==1].sample(num_0, replace=True) ])
df =df.reset_index(drop=True)

In [45]:
y=df["j"]
X=df[["Genero","CIIU","Edad","Ocupacion"]]
X = pd.merge(X, pd.get_dummies(X['Genero'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['CIIU'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['Ocupacion'], drop_first = True), left_index = True, right_index = True)
X["edad2"]=X["Edad"]**2
X.drop(['Genero', 'CIIU',"Ocupacion"], axis = 1, inplace = True)
feature_list = list(X.columns)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)  # Divisi√≥n de la base

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=2, random_state=0,class_weight='balanced')
rf.fit(X_train,y_train)

RandomForestClassifier(class_weight='balanced', max_depth=2, random_state=0)

In [48]:
rf_predict = rf.predict(X_test)
print(classification_report(y_test, rf_predict))

              precision    recall  f1-score   support

           0       0.83      0.76      0.79      5621
           1       0.28      0.37      0.32      1443

    accuracy                           0.68      7064
   macro avg       0.55      0.57      0.56      7064
weighted avg       0.71      0.68      0.70      7064

In [49]:
from sklearn.model_selection import RandomizedSearchCV
# number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# number of features at every split
max_features = ["auto", "sqrt"]

# max depth
max_depth = [int(x) for x in np.linspace(100, 500, num = 11)]
max_depth.append(None)
# create random grid
random_grid = {
 "n_estimators": n_estimators,
 "max_features": max_features,
 "max_depth": max_depth
 }
# Random search of parameters
rfc_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the model
rfc_random.fit(X_train, y_train)
# print results
print(rfc_random.best_params_)

Fitting 3 folds for each of 100 candidates, totalling 300 fits
{'n_estimators': 200, 'max_features': 'sqrt', 'max_depth': None}

In [50]:
rfc = RandomForestClassifier(n_estimators=200, max_depth=None, max_features='sqrt',class_weight='balanced')
rfc.fit(X_train,y_train)
rfc_predict = rfc.predict(X_test)
rfc_cv_score = cross_val_score(rfc, X, y, cv=10, scoring='roc_auc')
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n') 
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

=== Confusion Matrix ===
[[3922 1699]
 [ 729  714]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       0.84      0.70      0.76      5621
           1       0.30      0.49      0.37      1443

    accuracy                           0.66      7064
   macro avg       0.57      0.60      0.57      7064
weighted avg       0.73      0.66      0.68      7064



=== All AUC Scores ===
[0.40647111 0.43927951 0.43850487 0.64755828 0.68617835 0.66535941
 0.65445771 0.63748003 0.68073494 0.67196235]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.5927986574649701

In [53]:
# Get numerical feature importances
importances = list(rfc.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Edad                 Importance: 0.3
Variable: edad2                Importance: 0.3
Variable: EMPLEADO             Importance: 0.1
Variable: Bajo                 Importance: 0.08
Variable: M                    Importance: 0.07
Variable: Medio                Importance: 0.06
Variable: INDEPENDIENTE        Importance: 0.04
Variable: ESTUDIANTE           Importance: 0.03
Variable: Sin Clasificar       Importance: 0.02

In [51]:
#Lasso
from sklearn.preprocessing import StandardScaler 
from sklearn.compose import ColumnTransformer  
from sklearn.pipeline import Pipeline  
from sklearn.linear_model import LogisticRegression

transformacion_num = Pipeline(steps=[(('scaler', StandardScaler()))])

# 3. Construya el modelo de regularizado de penalizaci√≥n l1 con semilla 999 (iteraciones m√°ximas 3000, optimizador saga y tolerancia 0.0001),
# use todos los n√∫cleos menos 1 y combine los pipeline de transformaci√≥n y modelo. 
# El modelo debe ser nombrado dentro del la combinaci√≥n de pipeline como "modelo"

lasso =LogisticRegression(penalty="l1", n_jobs=-1,
                                        random_state=999,
                                        tol=0.0001, solver="saga", max_iter=3000)
# Construcci√≥n del modelo. COMPLETE EL C√ìDIGO.

lasso_pipeline=Pipeline([('preprocesamiento', transformacion_num), ('modelo', lasso)])   # combinaci√≥n de pipelines. COMPLETE EL C√ìDIGO.

# 4. Construya el esquema de validaci√≥n de validaci√≥n cruzada con 10 folds para hallar el C √≥ptimo.

from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold, GridSearchCV

# Construya el esquema de validaci√≥n cruzada

# NO MODIFIQUE LA GRILLA

grilla = { 
    'modelo__C': np.linspace(0.01,5,25)
}
cv= KFold(n_splits=3)    # Esquema de validaci√≥n. COMPLETE EL C√ìDIGO.

# 6. Realice la validaci√≥n cruzada usando como m√©trica el √°rea bajo la curva ROC. Use como semilla 999, use todos los n√∫cleos menos 1 y reajuste
# el modelo usando refit=True

from sklearn.metrics import roc_auc_score
grid = GridSearchCV(lasso_pipeline, grilla, n_jobs=-1, scoring=make_scorer(roc_auc_score), 
                         verbose=10,cv=cv,  refit= True)     # COMPLETE EL C√ìDIGO.
grid.fit(X_train, y_train)
# 7. Guarde el par√°metro √≥ptimo obtenido. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_params_['modelo__C'])

# 8. Guarde el mejor AUC obtenido en la validaci√≥n cruzada. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_score_) 

# 9. Haga la predicci√≥n en los datos de prueba.

pred_prob= grid.predict_proba(X_test)[:,1]  # predicci√≥n de probabilidades en la base de prueba. Recuerde elegir s√≥lo la columna con √≠ndice 1. COMPLETE EL C√ìDIGO.

# 10. Guarde el AUC obtenido en los datos de prueba. NO MODIFIQUE LA SIGUENTE L√çNEA

print(roc_auc_score(y_test, pred_prob))

Fitting 3 folds for each of 25 candidates, totalling 75 fits
0.21791666666666668
0.5000001113156644
0.6033579526730212

In [98]:
errors[774]/y_test[774]*100

311.6073023727874

Variable: Medio                Importance: 0.41
Variable: edad2                Importance: 0.29
Variable: EMPLEADO             Importance: 0.15
Variable: Edad                 Importance: 0.13
Variable: INDEPENDIENTE        Importance: 0.02
Variable: Bajo                 Importance: 0.01
Variable: M                    Importance: 0.0
Variable: Sin Clasificar       Importance: 0.0
Variable: ESTUDIANTE           Importance: 0.0

In [15]:
base=df[["Genero","CIIU","Edad","Adiciones Totales"]]
base = pd.merge(base, pd.get_dummies(base['Genero'], drop_first = True), left_index = True, right_index = True)
base = pd.merge(base, pd.get_dummies(base['CIIU'], drop_first = True), left_index = True, right_index = True)
base.drop(['Genero', 'CIIU'], axis = 1, inplace = True)
base

       Edad  Adiciones Totales  M  Bajo  Medio  Sin Clasificar
0        30           600000.0  1     0      1               0
1        29            10000.0  0     0      0               0
2        26                0.0  1     0      0               1
3        33                0.0  1     0      0               0
4        26           417000.0  1     0      0               0
...     ...                ... ..   ...    ...             ...
31729    21                0.0  1     1      0               0
31730    45                0.0  1     1      0               0
31731    66                0.0  1     1      0               0
31732    30                0.0  1     1      0               0
31733    26                0.0  1     1      0               0

[31734 rows x 6 columns]

In [106]:
base.to_excel("/Users/juank/Desktop/python/Ualet/BaseA.xlsx")

# BASE CORTA

In [107]:
df = pd.read_excel("/Users/juank/Desktop/python/Ualet/Base_vinculados_Corregida.xlsx",sheet_name="Base_corta", engine='openpyxl')
df

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Activos,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,Adiciones Totales,Retiros Totales,Adiciones Promedio,Retiros Promedio
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,340000000,40000000,0.00,8,6,2,600000.0,594209.73,100000.0,297104.865
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0,0.00,2,1,1,10000.0,10081.56,10000.0,10081.560
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,120000000,7000000,0.00,0,0,0,0.0,0.00,0.0,0.000
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,100000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0,0.00,6,5,1,417000.0,421576.20,83400.0,421576.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11572,2021-02-03,29909,Ualet puro,ANDRES,M,2,Aventurero,90,Bajo,1981-01-31,...,100000000,40000000,28023681.01,4,2,2,36990000.0,8334599.83,18495000.0,4167299.915
11573,2021-02-08,30164,Ualet puro,FERNEY,M,1,Valiente,81,Bajo,1998-09-03,...,600000000,300000000,49085033.09,2,2,0,50000000.0,0.00,25000000.0,0.000
11574,2021-02-18,30587,Ualet puro,LUCERO,M,2,Aventurero,10,Medio,1992-02-16,...,218324431,1,9869808.91,1,1,0,10000000.0,0.00,10000000.0,0.000
11575,2021-03-02,31178,Ualet puro,LORENZO,M,1,Valiente,10,Medio,2002-05-08,...,300000000,3000000,9912918.01,1,1,0,10000000.0,0.00,10000000.0,0.000
11576,2021-03-04,31273,Ualet puro,NICOLAS,M,3,Estratega,90,Bajo,1959-01-27,...,400000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000

In [16]:
y=df["Adiciones Totales"]
X=df[["Genero","CIIU","Edad","Ingresos_mensuales","Egresos_mensuales","Otros_Ing_Mensuales","Total_Activos","Total_Pasivos","Ocupacion"]]
X = pd.merge(X, pd.get_dummies(X['Genero'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['CIIU'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['Ocupacion'], drop_first = True), left_index = True, right_index = True)
X["edad2"]=X["Edad"]**2
X.drop(['Genero', 'CIIU',"Ocupacion"], axis = 1, inplace = True)
feature_list = list(X.columns)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)  # Divisi√≥n de la base

In [17]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=10, random_state=0)
regr.fit(X_train,y_train)

RandomForestRegressor(max_depth=10, random_state=0)

In [18]:
predictions = regr.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'pesos')

Mean Absolute Error: 576142.6 pesos

In [19]:
# Get numerical feature importances
importances = list(regr.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Edad                 Importance: 0.2
Variable: Ingresos_mensuales   Importance: 0.16
Variable: Total_Activos        Importance: 0.15
Variable: edad2                Importance: 0.13
Variable: Otros_Ing_Mensuales  Importance: 0.09
Variable: Egresos_mensuales    Importance: 0.08
Variable: Total_Pasivos        Importance: 0.08
Variable: M                    Importance: 0.04
Variable: Bajo                 Importance: 0.03
Variable: Medio                Importance: 0.02
Variable: EMPLEADO             Importance: 0.02
Variable: INDEPENDIENTE        Importance: 0.01
Variable: Sin Clasificar       Importance: 0.0
Variable: ESTUDIANTE           Importance: 0.0

# IMPORTAR BASE CORTA

In [110]:
base=df[["Genero","CIIU","Edad","Adiciones Totales","Ingresos_mensuales","Egresos_mensuales","Otros_Ing_Mensuales","Total_Activos","Total_Pasivos"]]
base = pd.merge(base, pd.get_dummies(base['Genero'], drop_first = True), left_index = True, right_index = True)
base = pd.merge(base, pd.get_dummies(base['CIIU'], drop_first = True), left_index = True, right_index = True)
base.drop(['Genero', 'CIIU'], axis = 1, inplace = True)
base

,Edad,Adiciones Totales,Ingresos_mensuales,Egresos_mensuales,Otros_Ing_Mensuales,Total_Activos,Total_Pasivos,M,Bajo,Medio,Sin Clasificar
0,30,600000.0,5300000,1500000,0,340000000,40000000,1,0,1,0
1,29,10000.0,2588888,555558,888888,0,0,0,0,0,0
2,26,0.0,737000,650000,0,120000000,7000000,1,0,0,1
3,33,0.0,5134000,4800000,0,100000000,80000000,1,0,0,0
4,26,417000.0,700000,0,100000,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11572,40,36990000.0,4000000,1800000,1000000,100000000,40000000,1,1,0,0
11573,23,50000000.0,18000000,10000000,1000000,600000000,300000000,1,1,0,0
11574,29,10000000.0,5337328,3102935,0,218324431,1,1,0,1,0
11575,19,10000000.0,40000000,20000000,0,300000000,3000000,1,0,1,0
11576,62,0.0,8000000,3500000,0,400000000,80000000,1,1,0,0

In [111]:
base.to_excel("/Users/juank/Desktop/python/Ualet/Base_corta.xlsx")

In [157]:
feature_list = list(df.columns)
feature_list

['Fecha Registro',
 'Id Modificado',
 'Tipo Cliente',
 'Primer Nombre',
 'Genero',
 'Perfil Riesgo',
 'Riesgo',
 'Codigo CIIU',
 'CIIU',
 'Fecha de Nacimiento',
 'Edad',
 'Cod_Ciudad_Nac.',
 'Ciudad',
 'Cod Dpto.Nacimto.',
 'Departamento',
 'Cod. Ocupacion ',
 'Ocupacion',
 'Ingresos_mensuales',
 'Egresos_mensuales',
 'Otros_Ing_Mensuales',
 'Total_Activos',
 'Total_Pasivos',
 'Saldo',
 'Transacciones',
 'Transacciones Adiciones',
 'Transacciones Retiros',
 'Adiciones Totales',
 'Retiros Totales',
 'Adiciones Promedio',
 'Retiros Promedio']

In [5]:
df["i"]=(df["Adiciones Totales"]-df["Adiciones Totales"].mean())/df["Adiciones Totales"].std()
df

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,Adiciones Totales,Retiros Totales,Adiciones Promedio,Retiros Promedio,i
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,40000000,0.0,8,6,2,600000.0,594209.73,100000.0,297104.865,0.080379
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0.0,2,1,1,10000.0,10081.56,10000.0,10081.560,-0.137626
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,7000000,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,80000000,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0.0,6,5,1,417000.0,421576.20,83400.0,421576.200,0.012761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31729,2021-03-25,31850,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,2000-03-16,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
31730,2021-03-25,31851,Ualet puro,DIEGO,M,4,Planeador,0,Bajo,1976-05-05,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
31731,2021-03-25,31852,Ualet puro,BRANDON,M,4,Planeador,0,Bajo,1955-03-20,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
31732,2021-03-25,31853,Ualet puro,SANTIAGO,M,4,Planeador,0,Bajo,1991-12-14,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321
31733,2021-03-25,31854,Ualet puro,CARLOS,M,4,Planeador,0,Bajo,1995-08-25,...,0,0.0,0,0,0,0.0,0.00,0.0,0.000,-0.141321

In [169]:
df["i"].mean()

0.0

In [168]:
df["i"].std()

0.9999999999999999

In [38]:
df["j"]=np.where(df["AdicionesTotales"]>=500000,1,0)
df

KeyError: 'AdicionesTotales'

In [18]:
df=df.rename(columns={'Adiciones Totales': "AdicionesTotales"})
df.shape

(31734, 32)

In [17]:
df1=df[df.AdicionesTotales >=500000]
df1.shape

(3584, 32)

In [ ]:
print(df1.describe())

# MODELO

In [37]:
y=df["j"]
X=df[["Genero","CIIU","Edad","Ocupacion"]]
X = pd.merge(X, pd.get_dummies(X['Genero'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['CIIU'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['Ocupacion'], drop_first = True), left_index = True, right_index = True)
X["edad2"]=X["Edad"]**2
X.drop(['Genero', 'CIIU',"Ocupacion"], axis = 1, inplace = True)
feature_list = list(X.columns)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)  # Divisi√≥n de la base

KeyError: 'j'

In [36]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=2, random_state=0)
rf.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [23]:
rf_predict = rf.predict(X_test)
rf_predict

array([0, 0, 0, ..., 0, 0, 0])

In [26]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, rf_predict))

[[5612    0]
 [ 735    0]]

In [27]:
print(classification_report(y_test, rf_predict))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94      5612
           1       0.00      0.00      0.00       735

    accuracy                           0.88      6347
   macro avg       0.44      0.50      0.47      6347
weighted avg       0.78      0.88      0.83      6347

/opt/anaconda3/envs/gt/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/envs/gt/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/envs/gt/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [29]:
from sklearn.model_selection import cross_val_score
rfc_cv_score = cross_val_score(rf, X, y, cv=10, scoring="roc_auc")

In [30]:
print(rfc_cv_score)

[0.62018385 0.59933306 0.65595422 0.66092709 0.67116157 0.58830586
 0.6236557  0.60374788 0.58151662 0.56528672]

In [31]:
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

Mean AUC Score - Random Forest:  0.6170072575088775

# Modelo Corto

In [54]:
bc = pd.read_excel("/Users/juank/Desktop/python/Ualet/Base_vinculados_Corregida.xlsx",sheet_name="Base_corta", engine='openpyxl')
bc

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Activos,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,Adiciones Totales,Retiros Totales,Adiciones Promedio,Retiros Promedio
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,340000000,40000000,0.00,8,6,2,600000.0,594209.73,100000.0,297104.865
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0,0.00,2,1,1,10000.0,10081.56,10000.0,10081.560
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,120000000,7000000,0.00,0,0,0,0.0,0.00,0.0,0.000
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,100000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0,0.00,6,5,1,417000.0,421576.20,83400.0,421576.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11572,2021-02-03,29909,Ualet puro,ANDRES,M,2,Aventurero,90,Bajo,1981-01-31,...,100000000,40000000,28023681.01,4,2,2,36990000.0,8334599.83,18495000.0,4167299.915
11573,2021-02-08,30164,Ualet puro,FERNEY,M,1,Valiente,81,Bajo,1998-09-03,...,600000000,300000000,49085033.09,2,2,0,50000000.0,0.00,25000000.0,0.000
11574,2021-02-18,30587,Ualet puro,LUCERO,M,2,Aventurero,10,Medio,1992-02-16,...,218324431,1,9869808.91,1,1,0,10000000.0,0.00,10000000.0,0.000
11575,2021-03-02,31178,Ualet puro,LORENZO,M,1,Valiente,10,Medio,2002-05-08,...,300000000,3000000,9912918.01,1,1,0,10000000.0,0.00,10000000.0,0.000
11576,2021-03-04,31273,Ualet puro,NICOLAS,M,3,Estratega,90,Bajo,1959-01-27,...,400000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000

In [56]:
bc=bc.rename(columns={'Adiciones Totales': "AdicionesTotales"})
bc.shape

(11577, 30)

In [58]:
df1=bc[bc.AdicionesTotales >=500000]
df1.shape

(1677, 31)

In [59]:
df2=bc[bc.AdicionesTotales <500000]
df2.shape

(9900, 31)

In [61]:
df2.shape[0]/bc.shape[0]

0.8551438196423944

In [57]:
bc["j"]=np.where(bc["AdicionesTotales"]>=500000,1,0)
bc

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,AdicionesTotales,Retiros Totales,Adiciones Promedio,Retiros Promedio,j
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,40000000,0.00,8,6,2,600000.0,594209.73,100000.0,297104.865,1
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0.00,2,1,1,10000.0,10081.56,10000.0,10081.560,0
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,7000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0
4,2017-08-24,5,Ualet puro,NICOL√ÅS,M,1,Valiente,1,Alto,1995-05-05,...,0,0.00,6,5,1,417000.0,421576.20,83400.0,421576.200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11572,2021-02-03,29909,Ualet puro,ANDRES,M,2,Aventurero,90,Bajo,1981-01-31,...,40000000,28023681.01,4,2,2,36990000.0,8334599.83,18495000.0,4167299.915,1
11573,2021-02-08,30164,Ualet puro,FERNEY,M,1,Valiente,81,Bajo,1998-09-03,...,300000000,49085033.09,2,2,0,50000000.0,0.00,25000000.0,0.000,1
11574,2021-02-18,30587,Ualet puro,LUCERO,M,2,Aventurero,10,Medio,1992-02-16,...,1,9869808.91,1,1,0,10000000.0,0.00,10000000.0,0.000,1
11575,2021-03-02,31178,Ualet puro,LORENZO,M,1,Valiente,10,Medio,2002-05-08,...,3000000,9912918.01,1,1,0,10000000.0,0.00,10000000.0,0.000,1
11576,2021-03-04,31273,Ualet puro,NICOLAS,M,3,Estratega,90,Bajo,1959-01-27,...,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0

In [9]:
num_0 = len(bc[bc['j']==1])*2
bc = pd.concat([ bc[bc['j']==0] , bc[bc['j']==1].sample(num_0, replace=True) ])
bc =bc.reset_index(drop=True)

In [10]:
y=bc["j"]
X=bc[["Genero","CIIU","Edad","Ingresos_mensuales","Egresos_mensuales","Otros_Ing_Mensuales","Total_Activos","Total_Pasivos","Ocupacion"]]
X = pd.merge(X, pd.get_dummies(X['Genero'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['CIIU'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['Ocupacion'], drop_first = True), left_index = True, right_index = True)
X["edad2"]=X["Edad"]**2
X.drop(['Genero', 'CIIU',"Ocupacion"], axis = 1, inplace = True)
feature_list = list(X.columns)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)  # Divisi√≥n de la base

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=2, random_state=0,class_weight='balanced')
rf.fit(X_train,y_train)

RandomForestClassifier(class_weight='balanced', max_depth=2, random_state=0)

In [12]:
rf_predict = rf.predict(X_test)
rf_predict

array([1, 1, 0, ..., 1, 0, 0])

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, rf_predict))

[[1327  650]
 [ 227  447]]

In [14]:
print(classification_report(y_test, rf_predict))

              precision    recall  f1-score   support

           0       0.85      0.67      0.75      1977
           1       0.41      0.66      0.50       674

    accuracy                           0.67      2651
   macro avg       0.63      0.67      0.63      2651
weighted avg       0.74      0.67      0.69      2651

In [15]:
from sklearn.model_selection import cross_val_score
rfc_cv_score = cross_val_score(rf, X, y, cv=10, scoring="roc_auc")

In [16]:
print(rfc_cv_score)

[0.69190717 0.68484398 0.79785203 0.76476221 0.65866425 0.75467662
 0.78328509 0.79114428 0.77949646 0.7459611 ]

In [17]:
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

Mean AUC Score - Random Forest:  0.7452593180382359

In [18]:
from sklearn.model_selection import RandomizedSearchCV
# number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# number of features at every split
max_features = ["auto", "sqrt"]

# max depth
max_depth = [int(x) for x in np.linspace(100, 500, num = 11)]
max_depth.append(None)
# create random grid
random_grid = {
 "n_estimators": n_estimators,
 "max_features": max_features,
 "max_depth": max_depth
 }
# Random search of parameters
rfc_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the model
rfc_random.fit(X_train, y_train)
# print results
print(rfc_random.best_params_)

Fitting 3 folds for each of 100 candidates, totalling 300 fits
{'n_estimators': 1800, 'max_features': 'auto', 'max_depth': 420}

In [24]:
rfc = RandomForestClassifier(n_estimators=1800, max_depth=420, max_features='auto',class_weight='balanced')
rfc.fit(X_train,y_train)
rfc_predict = rfc.predict(X_test)
rfc_cv_score = cross_val_score(rfc, X, y, cv=10, scoring='roc_auc')
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n') 
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

=== Confusion Matrix ===
[[1908   69]
 [ 120  554]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       0.94      0.97      0.95      1977
           1       0.89      0.82      0.85       674

    accuracy                           0.93      2651
   macro avg       0.92      0.89      0.90      2651
weighted avg       0.93      0.93      0.93      2651



=== All AUC Scores ===
[0.92267617 0.9368732  0.96449164 0.9633658  0.93380371 0.95688376
 0.95451078 0.95695311 0.96382029 0.94715664]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.9500535104061225

In [25]:
# Get numerical feature importances
importances = list(rfc.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Ingresos_mensuales   Importance: 0.2
Variable: Total_Activos        Importance: 0.19
Variable: Egresos_mensuales    Importance: 0.15
Variable: Total_Pasivos        Importance: 0.14
Variable: Edad                 Importance: 0.09
Variable: edad2                Importance: 0.09
Variable: Otros_Ing_Mensuales  Importance: 0.07
Variable: M                    Importance: 0.02
Variable: Bajo                 Importance: 0.01
Variable: Medio                Importance: 0.01
Variable: Sin Clasificar       Importance: 0.01
Variable: EMPLEADO             Importance: 0.01
Variable: ESTUDIANTE           Importance: 0.01
Variable: INDEPENDIENTE        Importance: 0.01

In [21]:
df1=bc[bc.AdicionesTotales!=500000]
df1.shape

(13100, 31)

In [22]:
df1=bc[bc.AdicionesTotales>=100000]
df1.shape

(5473, 31)

In [23]:
bc.shape

(13254, 31)

In [41]:
df1.shape[0]/bc.shape[0]

0.5

In [11]:
from sklearn.datasets import make_classification
X,y = make_classification(
    n_classes=2, class_sep=1.5, weights=[0.9, 0.1],
    n_informative=3, n_redundant=1, flip_y=0,
    n_features=20, n_clusters_per_class=1,
    n_samples=100, random_state=10)
X = pd.DataFrame(X)
X['target'] = y

In [12]:
X[X.target==0].shape

(90, 21)

In [39]:
num_0 = len(X[X['target']==0])
num_1 = len(X[X['target']==1])
print(num_0,num_1)# random undersample
undersampled_data = pd.concat([ X[X['target']==0].sample(num_1),X[X['target']==1] ])
print(len(undersampled_data))# random oversample
oversampled_data = pd.concat([ X[X['target']==0] , X[X['target']==1].sample(num_0, replace=True) ])
print(len(oversampled_data))

90 10
20
180

In [44]:
oversampled_data.shape

(180, 21)

In [6]:
num_0 = len(bc[bc['j']==0])
bc = pd.concat([ bc[bc['j']==0] , bc[bc['j']==1].sample(num_0, replace=True) ])
bc =bc.reset_index(drop=True)

In [9]:
y=bc["j"]
X=bc[["Genero","CIIU","Edad","Ingresos_mensuales","Egresos_mensuales","Otros_Ing_Mensuales","Total_Activos","Total_Pasivos","Ocupacion"]]
X = pd.merge(X, pd.get_dummies(X['Genero'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['CIIU'], drop_first = True), left_index = True, right_index = True)
X = pd.merge(X, pd.get_dummies(X['Ocupacion'], drop_first = True), left_index = True, right_index = True)
X["edad2"]=X["Edad"]**2
X.drop(['Genero', 'CIIU',"Ocupacion"], axis = 1, inplace = True)
feature_list = list(X.columns)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=999)  # Divisi√≥n de la base

In [10]:
bc.CIIU.unique()

array(['Alto', 'Sin Clasificar', 'Medio', 'Bajo'], dtype=object)

In [ ]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='newton-cg')

#Setting the range for class weights
weights = np.linspace(0.0,0.99,200)

#Creating a dictionary grid for grid search
param_grid = {'class_weight': [{0:x, 1:1.0-x} for x in weights]}

#Fitting grid search to the train data with 5 folds
gridsearch = GridSearchCV(estimator= lr, 
                          param_grid= param_grid,
                          cv=StratifiedKFold(), 
                          n_jobs=-1, 
                          scoring='f1', 
                          verbose=2).fit(X_train, y_train)

#Ploting the score for different values of weight
sns.set_style('whitegrid')
plt.figure(figsize=(12,8))
weigh_data = pd.DataFrame({ 'score': gridsearch.cv_results_['mean_test_score'], 'weight': (1- weights)})
sns.lineplot(weigh_data['weight'], weigh_data['score'])
plt.xlabel('Weight for class 1')
plt.ylabel('F1 score')
plt.xticks([round(i/10,1) for i in range(0,11,1)])
plt.title('Scoring for different class weights', fontsize=24)

# Lasso

In [176]:
from sklearn.preprocessing import StandardScaler 
from sklearn.compose import ColumnTransformer  
from sklearn.pipeline import Pipeline  
from sklearn.linear_model import LogisticRegression

transformacion_num = Pipeline(steps=[(('scaler', StandardScaler()))])

# 3. Construya el modelo de regularizado de penalizaci√≥n l1 con semilla 999 (iteraciones m√°ximas 3000, optimizador saga y tolerancia 0.0001),
# use todos los n√∫cleos menos 1 y combine los pipeline de transformaci√≥n y modelo. 
# El modelo debe ser nombrado dentro del la combinaci√≥n de pipeline como "modelo"

lasso =LogisticRegression(penalty="l1", n_jobs=-1,
                                        random_state=999,
                                        tol=0.0001, solver="saga", max_iter=3000)
# Construcci√≥n del modelo. COMPLETE EL C√ìDIGO.

lasso_pipeline=Pipeline([('preprocesamiento', transformacion_num), ('modelo', lasso)])   # combinaci√≥n de pipelines. COMPLETE EL C√ìDIGO.

# 4. Construya el esquema de validaci√≥n de validaci√≥n cruzada con 10 folds para hallar el C √≥ptimo.

from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold, GridSearchCV

# Construya el esquema de validaci√≥n cruzada

# NO MODIFIQUE LA GRILLA

grilla = { 
    'modelo__C': np.linspace(0.01,5,25)
}
cv= KFold(n_splits=3)    # Esquema de validaci√≥n. COMPLETE EL C√ìDIGO.

# 6. Realice la validaci√≥n cruzada usando como m√©trica el √°rea bajo la curva ROC. Use como semilla 999, use todos los n√∫cleos menos 1 y reajuste
# el modelo usando refit=True

from sklearn.metrics import roc_auc_score
grid = GridSearchCV(lasso_pipeline, grilla, n_jobs=-1, scoring=make_scorer(roc_auc_score), 
                         verbose=10,cv=cv,  refit= True)     # COMPLETE EL C√ìDIGO.
grid.fit(X_train, y_train)
# 7. Guarde el par√°metro √≥ptimo obtenido. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_params_['modelo__C'])

# 8. Guarde el mejor AUC obtenido en la validaci√≥n cruzada. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_score_) 

# 9. Haga la predicci√≥n en los datos de prueba.

pred_prob= grid.predict_proba(X_test)[:,1]  # predicci√≥n de probabilidades en la base de prueba. Recuerde elegir s√≥lo la columna con √≠ndice 1. COMPLETE EL C√ìDIGO.

# 10. Guarde el AUC obtenido en los datos de prueba. NO MODIFIQUE LA SIGUENTE L√çNEA

print(roc_auc_score(y_test, pred_prob))

Fitting 3 folds for each of 25 candidates, totalling 75 fits
0.63375
0.5254056803688001
0.6526854074077411

In [ ]:
rfc_predict = grid.predict(X_test)
rfc_cv_score = cross_val_score(grid, X, y, cv=10, scoring='roc_auc')
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n') 
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

# Ridge

In [177]:
# 1. Construya el modelo de regularizado de penalizaci√≥n l2 con semilla 999 (iteraciones m√°ximas 3000, optimizador saga y tolerancia 0.0001),
# use todos los n√∫cleos menos 1 y combine los pipeline de transformaci√≥n de variables construido previamente y modelo. 
# El modelo debe ser nombrado dentro del la combinaci√≥n de pipeline como "modelo"

ridge =LogisticRegression(penalty="l2", n_jobs=-1,
                                        random_state=999,
                                        tol=0.0001, solver="saga", max_iter=3000)   # Construcci√≥n del modelo. COMPLETE EL C√ìDIGO.

ridge_pipeline=Pipeline([('preprocesamiento', transformacion_num), ('modelo', ridge)])    # combinaci√≥n de pipelines. COMPLETE EL C√ìDIGO.

# 2. Construya el esquema de validaci√≥n de validaci√≥n cruzada con 10 folds. 

# NO MODIFIQUE LA GRILLA
grilla = {
     'modelo__C': np.linspace(0.01,5,25)
}

cv=KFold(n_splits=3)     # Esquema de validaci√≥n. COMPLETE EL C√ìDIGO.

# 3. Realice la validaci√≥n cruzada usando como m√©trica el √°rea bajo la curva ROC. Use como semilla 999, use todos los n√∫cleos menos 1 y reajuste
# el modelo usando refit=True


grid = GridSearchCV(ridge_pipeline, grilla, n_jobs=-1, scoring=make_scorer(roc_auc_score), 
                         verbose=10,cv=cv,  refit= True)     # COMPLETE EL C√ìDIGO.
grid.fit(X_train, y_train)

# 4. Guarde el par√°metro √≥ptimo obtenido. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_params_['modelo__C'])

# 5. Guarde el mejor AUC obtenido en la validaci√≥n cruzada. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_score_)

# 6. Haga la predicci√≥n en los datos de prueba

pred_prob=grid.predict_proba(X_test)[:,1]   # predicci√≥n de probabilidades en la base de prueba. recuerde elegir s√≥lo la columna con √≠ndice 1. COMPLETE EL C√ìDIGO.

# 7. Guarde el AUC obtenido en los datos de prueba. NO MODIFIQUE LA SIGUENTE L√çNEA

print(roc_auc_score(y_test, pred_prob))

Fitting 3 folds for each of 25 candidates, totalling 75 fits
0.21791666666666668
0.5247808468116543
0.6527019177514713

# Random Forest

In [178]:
# 1. Construya el modelo de bosques aleatorios y combine los pipeline de transformaci√≥n construido en dos celdas anteriores y modelo. 
# El modelo debe ser nombrado dentro del la combinaci√≥n de pipeline como "modelo", utilice la semilla 999 dentro del RandomForestClasifier
# y todos los n√∫cleos menos 1
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_jobs=-1,random_state=999 )  # Construcci√≥n del modelo. COMPLETE EL C√ìDIGO. 
rf_pipeline=Pipeline([('preprocesamiento', transformacion_num), ('modelo', rf)])  # combinaci√≥n de pipeline. COMPLETE EL C√ìDIGO.

# 2. Construya el esquema de validaci√≥n de validaci√≥n cruzada con 3 folds para hallar la combinaci√≥n √≥ptima de hiper-par√°metros.


# NO MODIFIQUE LA GRILLA
grilla= {'modelo__max_depth': [5, 10],
 'modelo__min_samples_leaf': [1, 2, 4],
 'modelo__min_samples_split': [2, 5, 10],
 'modelo__n_estimators': [3000]}

cv = KFold(n_splits=3)  # Esquema de validaci√≥n. COMPLETE EL C√ìDIGO.


# 3. Realice la validaci√≥n cruzada usando como m√©trica el √°rea bajo la curva ROC. Use como semilla 999, use todos los n√∫cleos menos 1 y reajuste
# el modelo usando refit=True

grid = GridSearchCV(rf_pipeline, grilla, scoring=make_scorer(roc_auc_score), 
                         verbose=10,cv=cv, refit=True, n_jobs=-1)     # COMPLETE EL C√ìDIGO.

grid.fit(X_train, y_train)

# 4. Guarde el √≥ptimo del m√≠nimo n√∫mero de observaciones de las hojas. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_params_["modelo__min_samples_leaf"])


# 5. Guarde el mejor AUC obtenido en la validaci√≥n cruzada. NO MODIFIQUE LA SIGUENTE L√çNEA

print(grid.best_score_)

# 6. Haga la predicci√≥n en los datos de prueba

pred_prob=grid.predict_proba(X_test)[:,1]  # predicci√≥n de probabilidades en la base de prueba. recuerde elegir s√≥lo la columna con √≠ndice 1. COMPLETE EL C√ìDIGO.


# 7. Guarde el AUC obtenido en los datos de prueba. NO MODIFIQUE LA SIGUENTE L√çNEA

print(roc_auc_score(y_test, pred_prob))

Fitting 3 folds for each of 18 candidates, totalling 54 fits
1
0.6768384484319379
0.8620553276627807

# Red Neuronal

In [26]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_classification
import sklearn.neural_network

In [27]:
# Number of features
number_of_features = 100

# Generate features matrix and target vector
features, target = make_classification(n_samples = 10000,
                                       n_features = number_of_features,
                                       n_informative = 3,
                                       n_redundant = 0,
                                       n_classes = 2,
                                       weights = [.5, .5],
                                       random_state = 0)

In [28]:
# Create function returning a compiled network
def create_network():
    
    # Start neural network
    network = models.Sequential()

    # Add fully connected layer with a ReLU activation function
    network.add(layers.Dense(units=16, activation='relu', input_shape=(number_of_features,)))

    # Add fully connected layer with a ReLU activation function
    network.add(layers.Dense(units=16, activation='relu'))

    # Add fully connected layer with a sigmoid activation function
    network.add(layers.Dense(units=1, activation='sigmoid'))

    # Compile neural network
    network.compile(loss='binary_crossentropy', # Cross-entropy
                    optimizer='rmsprop', # Root Mean Square Propagation
                    metrics=['accuracy']) # Accuracy performance metric
    
    # Return compiled network
    return network

In [29]:
# Wrap Keras model so it can be used by scikit-learn
neural_network = KerasClassifier(build_fn=create_network, 
                                 epochs=10, 
                                 batch_size=100, 
                                 verbose=0)

In [30]:
# Create a model
model = sklearn.neural_network.MLPClassifier(hidden_layer_sizes=(100, ), activation='relu', solver='adam', 
                                             alpha=0.0001, batch_size='auto', learning_rate='constant', learning_rate_init=0.001, power_t=0.5, 
                                             max_iter=1000, shuffle=True, random_state=None, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, 
                                             nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, 
                                             n_iter_no_change=10)
# Train the model on the whole data set
model.fit(X_train, y_train)

MLPClassifier(max_iter=1000)

In [32]:
print('\n-- Training data --')
predictions = model.predict(X_train)
accuracy = sklearn.metrics.accuracy_score(y_train, predictions)
nn_cv_score = cross_val_score(model, X, y, cv=10, scoring='roc_auc')
print('Accuracy: {0:.2f}'.format(accuracy * 100.0))
print('Classification Report:')
print(sklearn.metrics.classification_report(y_train, predictions))
print('Confusion Matrix:')
print(sklearn.metrics.confusion_matrix(y_train, predictions))
print('')
print('\n')
print("=== All AUC Scores ===")
print(nn_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", nn_cv_score.mean())

-- Training data --
Accuracy: 62.51
Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.66      0.72      7923
           1       0.34      0.52      0.41      2680

    accuracy                           0.63     10603
   macro avg       0.57      0.59      0.57     10603
weighted avg       0.69      0.63      0.65     10603

Confusion Matrix:
[[5231 2692]
 [1283 1397]]



=== All AUC Scores ===
[0.49643609 0.52691949 0.61344847 0.63731962 0.50027288 0.59882406
 0.59884517 0.54233228 0.48882557 0.5       ]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.5503223632020273

In [181]:
 # Evaluate on test data
print('\n---- Test data ----')
predictions = model.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, predictions)
print('Accuracy: {0:.2f}'.format(accuracy * 100.0))
print('Classification Report:')
print(sklearn.metrics.classification_report(y_test, predictions))
print('Confusion Matrix:')
print(sklearn.metrics.confusion_matrix(y_test, predictions))

---- Test data ----
Accuracy: 68.73
Classification Report:
              precision    recall  f1-score   support

           0       0.76      0.86      0.80      1977
           1       0.31      0.19      0.24       674

    accuracy                           0.69      2651
   macro avg       0.53      0.52      0.52      2651
weighted avg       0.64      0.69      0.66      2651

Confusion Matrix:
[[1693  284]
 [ 545  129]]

In [ ]:
import SMOTE
smote = SMOTE(ratio='minority')
X_sm, y_sm = smote.fit_sample(X, y)