# Base de datos corta

In [1]:
## Paquetes que vamos a usar
import os # Paquete para definir el directorio
import pandas as pd # Paquete para importar y manipular dataframes
import numpy as np # Paquete para hacer operaciones matriciales ultra eficientemente
import seaborn as sns # Paquete para gráficos
import matplotlib.pyplot as plt # Paquete para gráficos
sns.set_style("ticks") # Definimos el estilo de las gráficas. Este me gusta a mi
from sklearn.neighbors import KNeighborsClassifier # Modelo KNN
from sklearn.model_selection import train_test_split # Para partir la base de datos en train y test
from sklearn.preprocessing import StandardScaler # Para estandarizar la base
from sklearn import metrics # Metricas para evaluar el modelo
from sklearn.metrics import confusion_matrix # Matriz de confusión
import getpass
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
import getpass
import missingno as msno 
from sklearn.model_selection import train_test_split # Para partir la base de datos en train y test
from sklearn.decomposition import PCA
# El primer paso siempre será estandarizar nuestras variables
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.tree import DecisionTreeClassifier
import plotnine as p9
from sklearn.preprocessing import StandardScaler
# Paso 1. Escalar variables numéricas
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
# Paso 3. Vamos a imputar con la moda las variables categoricas.
from sklearn.preprocessing import OneHotEncoder
# Paso 4. Dummyficamos las variables categoricas.
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
import re

In [3]:
bc = pd.read_excel("/Users/juank/Desktop/python/Ualet/Base_vinculados_Corregida.xlsx",sheet_name="Base_corta", engine='openpyxl')
bc=bc.rename(columns={'Adiciones Totales': "AdicionesTotales"})
bc

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Activos,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,AdicionesTotales,Retiros Totales,Adiciones Promedio,Retiros Promedio
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,340000000,40000000,0.00,8,6,2,600000.0,594209.73,100000.0,297104.865
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0,0.00,2,1,1,10000.0,10081.56,10000.0,10081.560
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,120000000,7000000,0.00,0,0,0,0.0,0.00,0.0,0.000
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,100000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000
4,2017-08-24,5,Ualet puro,NICOLÁS,M,1,Valiente,1,Alto,1995-05-05,...,0,0,0.00,6,5,1,417000.0,421576.20,83400.0,421576.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11572,2021-02-03,29909,Ualet puro,ANDRES,M,2,Aventurero,90,Bajo,1981-01-31,...,100000000,40000000,28023681.01,4,2,2,36990000.0,8334599.83,18495000.0,4167299.915
11573,2021-02-08,30164,Ualet puro,FERNEY,M,1,Valiente,81,Bajo,1998-09-03,...,600000000,300000000,49085033.09,2,2,0,50000000.0,0.00,25000000.0,0.000
11574,2021-02-18,30587,Ualet puro,LUCERO,M,2,Aventurero,10,Medio,1992-02-16,...,218324431,1,9869808.91,1,1,0,10000000.0,0.00,10000000.0,0.000
11575,2021-03-02,31178,Ualet puro,LORENZO,M,1,Valiente,10,Medio,2002-05-08,...,300000000,3000000,9912918.01,1,1,0,10000000.0,0.00,10000000.0,0.000
11576,2021-03-04,31273,Ualet puro,NICOLAS,M,3,Estratega,90,Bajo,1959-01-27,...,400000000,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000

In [4]:
bc["j"]=np.where(bc["AdicionesTotales"]>=400000,1,0)
bc

,Fecha Registro,Id Modificado,Tipo Cliente,Primer Nombre,Genero,Perfil Riesgo,Riesgo,Codigo CIIU,CIIU,Fecha de Nacimiento,...,Total_Pasivos,Saldo,Transacciones,Transacciones Adiciones,Transacciones Retiros,AdicionesTotales,Retiros Totales,Adiciones Promedio,Retiros Promedio,j
0,2017-08-24,1,Ualet puro,DANIEL,M,1,Valiente,10,Medio,1991-11-12,...,40000000,0.00,8,6,2,600000.0,594209.73,100000.0,297104.865,1
1,2017-08-24,2,Ualet puro,JESSICA,F,3,Estratega,112,Alto,1992-05-25,...,0,0.00,2,1,1,10000.0,10081.56,10000.0,10081.560,0
2,2017-08-24,3,Ualet puro,DAVID,M,2,Aventurero,7210,Sin Clasificar,1995-06-22,...,7000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0
3,2017-08-24,4,Ualet puro,DIEGO,M,2,Aventurero,1,Alto,1988-05-01,...,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0
4,2017-08-24,5,Ualet puro,NICOLÁS,M,1,Valiente,1,Alto,1995-05-05,...,0,0.00,6,5,1,417000.0,421576.20,83400.0,421576.200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11572,2021-02-03,29909,Ualet puro,ANDRES,M,2,Aventurero,90,Bajo,1981-01-31,...,40000000,28023681.01,4,2,2,36990000.0,8334599.83,18495000.0,4167299.915,1
11573,2021-02-08,30164,Ualet puro,FERNEY,M,1,Valiente,81,Bajo,1998-09-03,...,300000000,49085033.09,2,2,0,50000000.0,0.00,25000000.0,0.000,1
11574,2021-02-18,30587,Ualet puro,LUCERO,M,2,Aventurero,10,Medio,1992-02-16,...,1,9869808.91,1,1,0,10000000.0,0.00,10000000.0,0.000,1
11575,2021-03-02,31178,Ualet puro,LORENZO,M,1,Valiente,10,Medio,2002-05-08,...,3000000,9912918.01,1,1,0,10000000.0,0.00,10000000.0,0.000,1
11576,2021-03-04,31273,Ualet puro,NICOLAS,M,3,Estratega,90,Bajo,1959-01-27,...,80000000,0.00,0,0,0,0.0,0.00,0.0,0.000,0